/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}


/* cart badge */

.btn-outline-primary {
    color: #191744;
    border-color: #191744!important;
}
.btn-outline-primary:hover {
    background-color: #191744;
}

.badge-primary {
    background-color: #191744;
}

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}
/**
 * single product page - product name
 */

.name {
    background: #191744;
    color: #fff;
    font-weight: bold;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    font-weight: bold;
}

.black-10 {
    color:black);
}

.bg-primary {
    background-color: #191744!important;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.2rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
}

.container {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 10px;
    border-radius: 1px;
}

.btn-outline-warning {
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    border-width: 1.35px;
}

.btn-outline-warning:hover {
    background-color: rgb(255, 153, 0);
}


/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-10 {
    color: rgb(0, 0, 0)!important;
}

.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/**
 * product image on card
 */

.product-img {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

/**
 * jumbotron animation
 */

.jumbotron {
    background: linear-gradient(45deg, #03030a, #17174e, #23a6d5, #23d5ab);
    width: 30wh;
    height: 20vh;
    color: #fff;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
